#game-area {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(8, 70px);
  width: 560px;
  height: 560px;
  margin: 20px auto;
}

.square {
  position: relative;
  width: 70px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 42px;
  font-weight: bold;

  cursor: pointer;
  user-select: none;
}

.coord-label {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 10px;
  opacity: 0.7;
  pointer-events: none;
}

.square:hover {
  outline: 2px solid #444;
}

.selected {
  outline: 3px solid yellow;
}

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}
.legal {
  background-color: rgba(0, 255, 0, 0.4);
}

.last-move {
  background-color: rgba(255, 255, 0, 0.5);
}

.king-in-check {
  background-color: rgba(255, 0, 0, 0.6);
}

#history-panel {
  width: 200px;
  margin-left: 20px;
}

#captured-container {
  margin-bottom: 10px;
}

#white-captures,
#black-captures {
  min-height: 30px;
  font-size: 20px;
}

#move-history {
  font-size: 14px;
  max-height: 400px;
  overflow-y: auto;
}
